# Scope of work

1) Import all necessary libraries and modules.  
2) First we need to obtain inforamtion about all available cars from the first main pages.  
3) Create a SQL database and export there gathered info about cars from the main pages.  
4) Then we will call module dealers_cars to acquire links to every dealer's list of cars from all main pages.  
5) Now we will repeat the same procedure as in the 1st step but to the every dealer's cars list.  
6) Add extracted data to a created SQL database

## 1. Imort of libraries and modules

In [1]:
import parsing
import marks
import dataframe
import sql_db
import dealers_cars

## 2. Acquring cars' information from the first main pages

Here we call the 1st module 'parsing' to scrap data from the main pages of the website. Then we store all gathered information about cars into corresponding lists.

In [2]:
# Link to the main webpage
url = 'https://www.autoscout24.com/lst?atype=C&desc=0&sort=standard&source=homepage_search-mask&ustate=N%2CU'

In [3]:
cars, characteristics, prices, locations = parsing.cars_info(url)

Here we call the module **marks** in order to extract all existing car marks from the website. Afterwards we will replace
spaces in marks' names into dashes '-'

In [4]:
marks_menu = marks.all_marks(url)

Here we call the module **dataframe** in order to gather all info about cars into one dataframe

In [5]:
df = dataframe.df_construct(marks_menu, cars, characteristics, prices, locations)

In [6]:
df

,mark,model,mileage,transmission,registration,fuel,power,location,price
0,Chevrolet,Camaro,42762,Automatic,10/2019,Gasoline,340,DE,33990
1,Audi,RS Q8,50,Automatic,10/2023,Gasoline,600,DE,133900
2,Audi,RS6,50,Automatic,10/2023,Gasoline,600,DE,134900
3,Maserati,Ghibli,150000,Automatic,08/2015,Diesel,275,BE,29900
4,Hyundai,Genesis,89710,Automatic,04/2016,Gasoline,315,DE,23900
...,...,...,...,...,...,...,...,...,...
395,Ferrari,812,14312,Automatic,03/2021,Gasoline,799,DE,479900
396,Audi,Q3,45160,Manual,06/2019,Gasoline,150,BE,27890
397,Mercedes-Benz,AMG GT,6000,Automatic,01/2023,Gasoline,639,DE,191950
398,Mercedes-Benz,SL 380,82600,Automatic,07/1984,Gasoline,155,DE,29890
399,Mercedes-Benz,AMG GT,47235,Automatic,02/2021,Gasoline,639,DE,134480

## 3. Creating a SQL database and exporting parsed data there from the main pages

Here we connect to another module **sql_db**. This module connects to a PostgreSQL database *autoscout*. In this database there is a schema *autoscout* which contains the main table *cars*.

In [7]:
sql_db.connect(df,'replace')

## 4. Acquiring links to every dealer's list of cars from all main pages.

In [8]:
# We call the module dealers_cars and assign the URL from the first main page
dealers_cars_list = dealers_cars.sel_pars(url)

The generated list can contain the same URL links (refernce to the same car dealer). We want to keep only unique links. So we transform the **dealers_cars_list** into a set and then back to list for a convenient work .

In [9]:
dealers_cars_list = list(set(dealers_cars_list))

Now we repeat all the previous steps for a new generated URL link. We call modules **parsing**,**dataframe** and finally **sql_db** in order to append the new db to our existing SQL database.

In [10]:
url0 = dealers_cars_list[0]

In [11]:
cars0, characteristics0, prices0, locations0 = parsing.cars_info(url0)

In [12]:
df0 = dataframe.df_construct(marks_menu, cars0, characteristics0, prices0, locations0)

In [13]:
df0

,mark,model,mileage,transmission,registration,fuel,power,location,price
0,Porsche,Cayman,72404,Automatic,07/2014,Gasoline,275,BE,49990
1,Land-Rover,Defender,96179,Automatic,08/2020,Diesel,200,BE,55990
2,Audi,RS3,1843,Automatic,05/2023,Gasoline,400,BE,74990
3,Audi,RS6,14700,Automatic,03/2023,Gasoline,600,BE,154990
4,BMW,X4,233215,Automatic,01/2019,Diesel,265,BE,36990
5,Chevrolet,Camaro,69794,Automatic,11/2017,Gasoline,275,BE,34990
6,BMW,420,119431,Automatic,07/2018,Diesel,190,BE,26990
7,Mercedes-Benz,C 180,35884,Automatic,04/2019,Gasoline,156,BE,36990
8,Maserati,Ghibli,58298,Automatic,08/2016,Diesel,275,BE,36990
9,Mercedes-Benz,CLA 200,88893,Automatic,08/2018,Diesel,136,BE,26990
10,Land-Rover,Discovery Sport,51248,Automatic,05/2018,Diesel,150,BE,27990
11,Jaguar,XKR,114790,Automatic,12/2001,Gasoline,363,BE,22990
12,Ford,Edge,167535,Automatic,05/2017,Diesel,209,BE,20990
13,BMW,530,213583,Automatic,03/2012,Diesel,245,BE,15990
14,BMW,730,52386,Automatic,01/2010,Diesel,245,BE,35990
15,Land-Rover,Range Rover Velar,99842,Automatic,10/2018,Diesel,179,BE,39990
16,Mercedes-Benz,CLA 200,75164,Automatic,11/2020,Diesel,150,BE,32990
17,Audi,Q2,64955,Automatic,03/2019,Gasoline,116,BE,25990
18,Porsche,Panamera,88265,Automatic,08/2017,Gasoline,441,BE,69990
19,Land-Rover,Defender,96179,Automatic,08/2020,Diesel,200,BE,55990
20,Porsche,Macan,142158,Automatic,09/2014,Diesel,258,BE,37990
21,BMW,X2,88738,Automatic,03/2019,Diesel,150,BE,26990
22,BMW,X1,30245,Automatic,10/2018,Diesel,136,BE,26990
23,BMW,X1,91575,Automatic,04/2017,Diesel,136,BE,24990
24,BMW,X6,147647,Automatic,04/2016,Diesel,258,BE,33990
25,BMW,X6,95135,Automatic,04/2018,Diesel,381,BE,49990
26,BMW,X6 M,95135,Automatic,04/2018,Diesel,381,BE,49990
27,Peugeot,3008,32939,Manual,05/2017,Gasoline,131,BE,22990
28,Audi,Q5,116837,Automatic,09/2018,Gasoline,252,BE,28990

In [14]:
sql_db.connect(df0,'append')