# Scope of work

1) Import all necessary libraries and modules.  
2) First we need to obtain inforamtion about all available cars from the first main pages.  
3) Create a SQL database and export there gathered info about cars from the main pages.  
4) Then we will call module dealers_cars to acquire links to every dealer's list of cars from all main pages.  
5) Now we will repeat the same procedure as in the 1st step but to the every dealer's cars list.  
6) Add extracted data to a created SQL database

## 1. Imort of libraries and modules

In [1]:
import main_pages
import parsing
import marks
import dataframe
import sql_db
#import cars_scraper
from datetime import datetime
import dealers_buttons_multithread
import all_dealers

## 2. Acquring cars' information from the first main pages

Here we call the 1st module 'parsing' to scrap data from the main pages of the website. Then we store all gathered information about cars into corresponding lists.

In [2]:
# Link to the main webpage
url = 'https://www.autoscout24.com/lst?atype=C&desc=0&sort=standard&source=homepage_search-mask&ustate=N%2CU'

The module **main_pages** collects all URLs of the main pages from the website autoscout24.com

In [3]:
all_pages = main_pages.pages_urls(url)

With a help of **parsing** module we scrap info about cars from main pages (20).

In [4]:
start = datetime.now()
cars, characteristics, prices, locations = parsing.cars_info(all_pages)
end = datetime.now()
print('Total time :', end-start)

Total time : 0:00:24.476022

Here we call the module **marks** in order to extract all existing car marks from the website. Afterwards we will replace
spaces in marks' names into dashes '-'

In [5]:
marks_menu = marks.all_marks(url)

Here we call the module **dataframe** in order to gather all info about cars into one dataframe

In [6]:
df = dataframe.df_construct(marks_menu, cars, characteristics, prices, locations)

In [7]:
df

,mark,model,mileage,transmission,registration,fuel,power,location,price
0,Porsche,Panamera,79999,Automatic,04/2013,Gasoline,299,DE,37999
1,Audi,RS Q8,9000,Automatic,09/2021,Gasoline,740,BE,259740
2,Bentley,Continental GT,135000,Automatic,10/2004,Gasoline,559,BE,29950
3,BMW,120,108468,Automatic,07/2015,Diesel,163,BE,19750
4,Infiniti,QX70,188800,Automatic,10/2015,Diesel,238,DE,11890
...,...,...,...,...,...,...,...,...,...
395,Toyota,Land Cruiser,255000,Automatic,01/2004,Diesel,163,IT,13500
396,BMW,Z8,36900,Automatic,08/2003,Gasoline,381,DE,398000
397,DFSK,None,701,Automatic,10/2023,Gasoline,177,DE,31890
398,Mercedes-Benz,C 300,35123,Automatic,02/2023,Diesel,265,DE,52289
399,BMW,330,114980,Automatic,10/2019,Electric,184,DE,29990

## 3. Creating a SQL database and exporting parsed data there from the main pages

Here we connect to another module **sql_db**. This module connects to a PostgreSQL database *autoscout*. In this database there is a schema *autoscout* which contains the main table *cars*.

In [8]:
sql_db.connect(df,'replace')

## 4. Acquring cars' information from the all the car dealers and storing into a SQL database

In [ ]:
# Here we click on all dealer buttons from the main 20 pages and get URLs
start = datetime.now()
dealers = all_dealers.main(url)
end = datetime.now()
print('Total time :', end - start)

In [ ]:
import all_urls

In [ ]:
# Multithreading

start = datetime.now()
pages = all_urls.main(dealers)
end = datetime.now()
print('Total time :', end - start)

In [9]:
pages_alt = ['https://www.autoscout24.com/lst?atype=C&cid=24363553&page=1&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24363553&page=2&source=listpage_pagination&search_id=gxrsmwbnl8&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24363553&page=3&source=listpage_pagination&search_id=gxrsmwbnl8&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24363553&page=4&source=listpage_pagination&search_id=gxrsmwbnl8&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24363553&page=5&source=listpage_pagination&search_id=gxrsmwbnl8&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24363553&page=6&source=listpage_pagination&search_id=gxrsmwbnl8&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24872232&page=1&source=listpage_pagination',
 'https://www.autoscout24.com/lst?atype=C&cid=24872232&page=2&source=listpage_pagination&search_id=gxrsmwbnl8&source=listpage_pagination']

In [10]:
import multi_parse

In [11]:
start = datetime.now()
multi_parse.main(pages_alt, marks_menu)
end = datetime.now()
print('Total time :', end - start)

Total time : 0:00:01.131548

In [ ]:
import normal_parse

In [20]:
start = datetime.now()
normal_parse.main(pages_alt, marks_menu)
end = datetime.now()
print('Total time :', end - start)

              mark               model mileage transmission registration  \
0       Volkswagen              Touran  240000       Manual      09/2011
1             Audi                  TT  125000    Automatic      04/2016
2              BMW                 530  200000    Automatic      07/2018
3          Hyundai                 i40  166938    Automatic      10/2015
4             Audi                  S3  186500    Automatic      08/2012
..             ...                 ...     ...          ...          ...
135  Mercedes-Benz               C 220  175000    Automatic      01/2012
136  Mercedes-Benz               E 220   85788    Automatic      10/2008
137     Land-Rover  Range Rover Evoque   97000    Automatic      06/2013
138           Fiat               Doblo   70000       Manual      11/2014
139        Citroen               Jumpy   69000       Manual      01/2021

         fuel power location  price
0      Diesel   140       DE   5799
1    Gasoline   179       DE  21499
2      Diesel   265       DE  22999
3      Diesel   141       DE  10999
4    Gasoline   265       DE  12499
..        ...   ...      ...    ...
135    Diesel   163       BE  12950
136    Diesel   163       BE   8500
137    Diesel   150       BE  17950
138    Diesel    90       BE   7450
139    Diesel   122       BE  22900

[140 rows x 9 columns]
Total time : 0:00:07.960625

In [ ]:
start = datetime.now()

for page in all_pages:
    cars_scraper.parser(page, marks_menu)

end = datetime.now()
print('Total time :', end-start)

Total time :1:28:41.573803