# Scope of work

1) Import all necessary libraries and modules.  
2) First we need to obtain inforamtion about all available cars from the first main pages.  
3) Create a SQL database and export there gathered info about cars from the main pages.  
4) Then we will call module dealers_cars to acquire links to every dealer's list of cars from all main pages.  
5) Now we will repeat the same procedure as in the 1st step but to the every dealer's cars list.  
6) Add extracted data to a created SQL database

## 1. Imort of libraries and modules

In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from sqlalchemy import create_engine
import dealers_cars

## 2. Acquring cars' information from the first main pages

In [2]:
# Here we provide URL to the very first main page.

In [3]:
url = 'https://www.autoscout24.com/lst?atype=C&desc=0&sort=standard&source=homepage_search-mask&ustate=N%2CU'
html = requests.get(url).text
soup = BeautifulSoup(html, 'lxml')

In [4]:
#get the number of total pages on the web site
def total_pages(soup):
    divs = soup.find('div', attrs={'class':'ListPage_pagination__v_4ci'})
    pages = divs.find_all('button', attrs={'class':'FilteredListPagination_button__41hHM'})[-2].text
    total_pages = int(pages)
    return total_pages

In [5]:
#get a dictionary of all URLs from every main page
def pages_urls(url):
    all_pages = {}
    for i in range(1, total_pages(soup) + 1):
        url_parts = url.split('&')
        url_parts[2] = f'page={i}'
        url = '&'.join(url_parts)
        all_pages[i]=url
    return all_pages

all_pages=pages_urls(url)

In [6]:
#here we create a list of html codes as soup elements about all pages
def html_list():
    soups_list = []
    for k in all_pages:
        soups_list.append(BeautifulSoup(requests.get(all_pages[k]).text, 'lxml'))
    return soups_list

soups_list = html_list()

In [7]:
# here we create blank lists to populate it later with cars' info
cars = []
characteristics = []
prices = []
locations = []

#this function scraps over the website in order to extract specific information about each car (characteristics, prices etc)
def parcing (tag, attr,df):
    for element in soups_list:
        info = element.find_all(tag, attrs={'class':attr})
        for i in info:
            df.append(i.get_text())
    return df

In [8]:
#here we call the above mentioned function and populate our previously created lists
cars = parcing('a', 'ListItem_title__znV2I ListItem_title_new_design__lYiAv Link_link__pjU1l', cars)
characteristics = parcing('div', 'VehicleDetailTable_container__mUUbY', characteristics)
prices = parcing('p', 'Price_price__WZayw PriceAndSeals_current_price__XscDn', prices)
locations = parcing('span', 'SellerInfo_address__txoNV', locations)

In [9]:
def formating():
    #here we extract only car's mark and maodel
    for i in range(len(cars)):
        cars[i] = cars[i].split('\xa0')[0]
    fuel_types = ['Gasoline','Diesel','Ethanol','Electric','Hydrogen','LPG','CNG','Electric/Gasoline','Others',
              'Electric/Diesel']
    fuel_pattern = '|'.join(fuel_types)
    gear = ['Automatic','Manual','Semi-automatic']
    gear_pattern = '|'.join(gear)
    #here we extract specific patterns of each car characteristics. The initial text that was extracted from web scraping
    #contains too much unrelated data
    for i in range(len(characteristics)):
        patterns = [r'\d{1,3}(?:,\d{3})*\s?km', f'({gear_pattern})', r'\d{1,2}/\d{4}', f'({fuel_pattern})', r'\d{1,4}\s?hp']
        characteristics[i] = [re.search(pattern, characteristics[i]).group(0).replace(',', '').replace(' km', '')
                              .replace(' hp', '').strip() if re.search(pattern, characteristics[i])
                              else None for pattern in patterns]
    #here we extract integer from price text
    for i in range(len(prices)):
        prices[i] = int(re.sub(r'\D', '', prices[i]))
        
    #here we extract only country abbreveation
    for i in range(len(locations)):
        try:
            locations[i] = locations[i].split('• ')[1].split('-')[0]
        except:
            locations[i] = locations[i].split('-')[0]
            
    return cars, characteristics, prices, locations

cars, characteristics, prices, locations = formating()

In [10]:
# This function collects all previously formed lists and form 1 united dataframe in pandas
def to_pandas():
    #Here we transform our lists into pandas Series
    c = pd.Series(cars, name='Car')
    ch = pd.Series(characteristics)
    p = pd.Series(prices, name='Price [€]')
    l = pd.Series(locations, name='Location')
    # Create a DataFrame from the Series, which splits the lists into columns
    df = pd.DataFrame(ch.tolist(), columns=['Mileage [km]', 'Transmission', 'Registration [m/y]', 'Fuel', 'Power [hp]'])
    #Here we change data types of Mileage and Power to integers
    try:
        df['Mileage [km]'] = df['Mileage [km]'].astype('int')
        df['Power [hp]'] = df['Power [hp]'].astype('int')
    except:
        df['Power [hp]'] = df['Power [hp]'].fillna(0)
        df['Power [hp]'] = df['Power [hp]'].astype('int')
        df['Mileage [km]'] = df['Mileage [km]'].fillna(0)
        df['Mileage [km]'] = df['Mileage [km]'].astype('int')
    merged_df = pd.concat([c, df], axis=1)
    merged_df2 = pd.concat([merged_df,l], axis=1)
    main_pages_info = pd.concat([merged_df2,p], axis=1)
    return main_pages_info

In [11]:
to_pandas()

,Car,Mileage [km],Transmission,Registration [m/y],Fuel,Power [hp],Location,Price [€]
0,Porsche 911,2480,Automatic,07/2019,Gasoline,700,AT,569990
1,Audi Q7,260000,Automatic,10/2014,Diesel,245,BE,18950
2,Audi A3,99000,Manual,08/2018,Gasoline,150,BE,17500
3,Jaguar F-Pace,150964,Automatic,11/2016,Gasoline,340,BE,22990
4,Mercedes-Benz ML 250,130000,Automatic,10/2014,Diesel,204,BE,22950
...,...,...,...,...,...,...,...,...
395,BMW 2002,150000,Manual,11/1973,Gasoline,131,DE,38800
396,Cupra Leon,20915,Automatic,07/2021,Electric,245,DE,26430
397,Mercedes-Benz E 53 AMG,68351,Automatic,03/2020,Gasoline,435,DE,67660
398,Skoda Fabia,57911,Manual,08/2018,Gasoline,95,BE,10990
399,BMW i4,24899,Automatic,12/2021,Electric,544,DE,79240

## 3. Creating a SQL database and exporting parsed data there from the main pages

In [12]:
#configurations to connect to a SQL database
db_config = {
    'user': 'postgres', 
    'pwd': 'austria011020',
    'host': 'localhost',
    'port': 5432,
    'db': 'cars_small'
}

In [13]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db'],
)

In [14]:
engine = create_engine(connection_string)

In [15]:
with engine.connect() as conn:
    conn.execute('CREATE SCHEMA IF NOT EXISTS cars_small;')

In [16]:
with engine.connect() as conn:
    to_pandas().to_sql(name='cars_info', con=conn, if_exists='replace', index=False)

## 2. Acquiring links to every dealer's list of cars from all main pages.

In [17]:
# We call the module dealers_cars and assign the URL from the first main page
dealers_cars_list = dealers_cars.sel_pars(url)

In [18]:
dealers_cars_list

['https://www.autoscout24.com/lst?atype=C&cid=36602827',
 'https://www.autoscout24.com/lst?atype=C&cid=24872232',
 'https://www.autoscout24.com/lst?atype=C&cid=16577394',
 'https://www.autoscout24.com/lst?atype=C&cid=11983',
 'https://www.autoscout24.com/lst?atype=C&cid=24872232',
 'https://www.autoscout24.com/lst?atype=C&cid=2319583',
 'https://www.autoscout24.com/lst?atype=C&cid=15535338',
 'https://www.autoscout24.com/lst?atype=C&cid=15535338',
 'https://www.autoscout24.com/lst?atype=C&cid=15535338',
 'https://www.autoscout24.com/lst?atype=C&cid=15535338',
 'https://www.autoscout24.com/lst?atype=C&cid=16051270',
 'https://www.autoscout24.com/lst?atype=C&cid=23689',
 'https://www.autoscout24.com/offers/porsche-911-911-gt3-clubsport-vollschale-matrix-lift-bose-gasoline-grey-33a199b7-3bc8-4ac3-b14c-3ef51681cce8?sort=standard&desc=0&lastSeenGuidPresent=false&cldtidx=13&position=13&search_id=jlhh4q18l4&source_otp=t50&source=listpage_search-results&order_bucket=6',
 'https://www.autoscout24.com/lst?atype=C&cid=15535338',
 'https://www.autoscout24.com/lst?atype=C&cid=15824211',
 'https://www.autoscout24.com/lst?atype=C&cid=5711',
 'https://www.autoscout24.com/lst?atype=C&cid=15535338',
 'https://www.autoscout24.com/lst?atype=C&cid=33877221',
 'https://www.autoscout24.com/lst?atype=C&cid=23689',
 'https://www.autoscout24.com/lst?atype=C&cid=37723091']

In [19]:
dealers_cars_list[0]

'https://www.autoscout24.com/lst?atype=C&cid=36602827'

In [20]:
url0 = dealers_cars_list[0]
html0 = requests.get(url0).text
soup0 = BeautifulSoup(html0, 'lxml')

In [21]:
total_pages(soup0)

20